@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply bg-gray-100 antialiased;
  }

  h1, h2, h3, h4, h5, h6, strong {
    @apply font-semibold;
  }

  button {
    @apply cursor-pointer;
  }

  [disabled] {
    @apply opacity-60 cursor-not-allowed;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-track {
    background: #DDDDDD;
    border-radius: 20px;
  }
}